# Base de données
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/kilterboard?schema=public"

# Environnement
NODE_ENV="development" | "production"

# JWT
ACCESS_TOKEN_SECRET="your-super-secret-key-here"

# CORS (production uniquement)
ALLOWED_ORIGIN="https://votre-app.com"

# Serveur
PORT=3000
